.container {
    min-height: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.d-flex.align-items-center {
    align-items: center;
}

.mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

button {
    background-color: #fff;
    border: 0px;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

button.active {
    font-weight: bolder;
    color: #fff;
}

button.active.green {
    background-color: green;
}

button.active.red {
    background-color: red;
}